@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject NavigationManager Navigation

@* <PageTitle>GoApp</PageTitle> *@

<div class="page">
	<style>
		body {
			background-image: url('https://e498rczdjg6.exactdn.com/wp-content/uploads/2020/05/Seljalansfoss.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<div class="container">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 bg-primary-subtle border rounded-3 border-bottom">
			<img src="https://www.advantshop.net/content/favicon.svg" class="bi me-2 ps-xl-2" width="50" height="50" href="" viewPort="0 0 120 120">
			<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
				<span class="fs-4">Тестовый магазин</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a href="https://advantshop.net/" class="nav-link active" aria-current="page">Home</a></li>
				<li class="nav-item"><a href="/" class="nav-link">Товары</a></li>
				<li class="nav-item"><a href="/coockies" class="nav-link" aria-current="page">Корзина товаров</a></li>
			</ul>
		</header>
		<div class="container container-fluid cs-bg-7 main-b-radius ">
			<form class="col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
				<input type="search" class="form-control form-control-light text-bg-light" @bind-value:event="oninput" @bind-value="Query" @onkeypress="Callback" placeholder="Поиск" aria-label="Search"/>
			</form>
			<div class="row body-content">
				<div class="col-xs-3 col-p-v site-body-aside">
					<nav class="h-auto menu-dropdown menu-dropdown-modern menu-dropdown-expanded">
						<div class="d-flex h-auto flex-column flex-md-row p-4 gap-4 py-md-5 align-items-xl-start justify-content-left">
							<ul class="h-50 dropdown-menu position-relative top-0 d-grid gap-1 p-2 rounded-3 mx-0 shadow" style="width: 250px;" data-bs-theme="light">
								<NavMenu/>
							</ul>
							<article class="content px-4 pt-0">
								@Body
							</article>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<footer class="d-flex flex-wrap modal-footer rounded-bottom bg-primary-subtle align-content-center text-dark border rounded-3 border-bottom">
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3"></i>Описание сайта
							</h6>
							<p>
								Это тестовая версия сайта,
								она в данный момент находится в доработке :)
							</p>
						</div>
						<!-- Grid column -->
						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Ссылки
							</h6>
							<p>
								<a href="#!" class="text-reset">Ссылка №1</a>
							</p>
						</div>
					</div>
					<!-- Grid row -->
				</div>
			</section>
		</footer>
	</div>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
</div>

@code
{
	string Query = "";

	private void Callback(KeyboardEventArgs obj)
	{
		Console.WriteLine(Query);

		if (obj.Code is "Enter" or "NumpadEnter")
		{
			if (Query.StartsWith("!"))
			{
				var newQuery = Query.Substring(1);
				Navigation.NavigateTo($"/search?q={newQuery}&sm=true");
			}
			else
			{
				Navigation.NavigateTo($"/search?q={Query}", true, true);
			}
		}
	}
}

								
