@using GoApp.Pages
@using System.Reflection
@using System.Text.RegularExpressions
@using GoApp.Entitys
@inject IHttpClientFactory ClientFactory

<li>
	<a class="dropdown-item dropdown-item-danger text-red d-flex gap-2 align-items-center">
		
		<a title="Navigation menu" class="dropdown-item-danger text-decoration-none text-red" href="/">
			<NavLink>Все товары</NavLink>
		</a>
	</a>
</li>


<div class="nav-scrollable">
	<nav class="flex-column text-decoration-none">
		@foreach(var category in categories)
		{
			<li>
				<a class="dropdown-item text-decoration-none dropdown-item-danger text-red d-flex gap-2 align-items-center" href="/category?id=@category.Id">
					<NavLink>/category/@category.Name</NavLink>
				</a>
			</li>
		}
	</nav>
</div>

@code {
	private List<Category> categories;

	protected override void OnInitialized()
	{
		var client = ClientFactory.CreateClient();
		var response = client.GetAsync("https://localhost:7273/categories").Result;

		if (response.IsSuccessStatusCode)
		{
			var content = response.Content.ReadFromJsonAsync<List<Category>>().Result;
			categories = content;
		}
	}
}
