@using GoApp.Pages
@using System.Reflection
@using System.Text.RegularExpressions
@using GoApp.Entitys
@inject IHttpClientFactory ClientFactory

<li>
	<a class="dropdown-item dropdown-item-danger text-red d-flex gap-2 align-items-center">
		
		<a title="Navigation menu" class="dropdown-item-danger text-decoration-none text-red" href="/" @onclick="ToggleNavMenu" >
			<NavLink>Все товары</NavLink>
		</a>
	</a>
</li>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column text-decoration-none">
		@foreach(var category in categories)
		{
			<li>
				<a class="dropdown-item text-decoration-none dropdown-item-danger text-red d-flex gap-2 align-items-center" href="@c">
					<NavLink>@filename</NavLink>
				</a>
			</li>
		}
		@* <li>
			<a class="dropdown-item text-decoration-none dropdown-item-danger text-red d-flex gap-2 align-items-center" href="#">
				<NavLink>Шапки</NavLink>
			</a>
		</li>
		<li>
			<a class="dropdown-item text-decoration-none dropdown-item-danger text-red d-flex gap-2 align-items-center" href="#">
				<NavLink>Ботинки</NavLink>
			</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li>
			<a class="dropdown-item text-decoration-none dropdown-item-danger text-red d-flex gap-2 align-items-center" href="list">
				<NavLink>Скидки</NavLink>
			</a>
		</li> *@
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private List<Category> categories;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	protected override void OnInitialized()
	{
		var client = ClientFactory.CreateClient();
		var response = client.GetAsync("https://localhost:7273/categories").Result;

		if (response.IsSuccessStatusCode)
		{
			var content = response.Content.ReadFromJsonAsync<List<Category>>().Result;
			categories = content;
		}
	}
}
